@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/assets/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/assets/Raleway-Italic-VariableFont_wght.ttf);
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  /*color: #9E9098;*/
  margin: 0;
}

/* center YouTube videos */
iframe {
   display: block;
   margin: 0 auto;
}

.logo {
  width: 100px;
  /*position: absolute;*/
  border: 3px solid #fff;
}

/*
@media (min-width: 1000px) {
  .logo {
    left: 50%;
    right: 50%;
  }
}
*/

nav {
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  background-color: white;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 480px) {
  nav {
    justify-content: space-between;
  }
}


nav a {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 400;
  text-decoration: none;
  transition: 0.3s;
  margin: 4px;
}

nav a:hover {
  color: rgba(0, 0, 0, 1);
}

nav img {
  padding: 2px;
  height: 22px;
  display: block;
}

nav .active {
  color: #7B0B45 !important;
  border-top:    3px solid #7B0B45;
  border-bottom: 3px solid #7B0B45;
}

.content {
  max-width: calc(1000px - (15px * 2));
  margin-right: auto;
  margin-left:  auto;
  padding-right: 15px;
  padding-left:  15px;
}

h1, h2 {
  color: #7b0b45;
  text-align: center;
}

h2 {
  margin-top: 50px;
}

p {
  line-height: 1.6em;
  hyphens: auto;
}

img.flyer {
  float: right;
  margin-left: 1em;
  width: 25%;
}

img.portrait {
  float: left;
  margin-right: 1em;
  max-width: 100%;
}

.gallery {
  margin: 10px auto;
  display: grid;
  /* grid-template-columns is set by the HTML code */
  grid-template-rows: [buttons] 40px [images] auto;
  place-items: center;
  place-content: center;
}
.gallery > input {
  grid-row: buttons;
  width: 20px;
  height: 20px;
  margin: 4px;
  accent-color: #7b0b45;
}
.gallery > img {
  grid-row: images;
  grid-column: 1 / -1;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  max-width : 100%;
  max-height: 500px;
}
.gallery > label {
  display: none;
  font-size: 25px;
  margin: 5px;
  grid-row: buttons;
  user-select: none;
}
.gallery > .prev {
  grid-column-start: 1;
  justify-self: end;
}
.gallery > .next {
  grid-column-end: -1;
  justify-self: start;
}
.gallery > input:checked + .prev {
  display: inline;
}
.gallery > input:checked + .prev + img {
  opacity: 1;
}
.gallery > input:checked + .prev + img + .next {
  display: inline;
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
.border {
  width: 20%;
  border-bottom: 3px solid #7b0b45;
  margin: 0 auto 5px auto;
}
.border-small {
  width: 10%;
  border-bottom: 3px solid #7b0b45;
  margin: 10px auto 5px auto;
}
*/

.footer {
  box-shadow: 0px -5px 3px 0px rgba(0,0,0,0.1);
  /*background: #E8E0E4 url(/assets/bg_footer.png) no-repeat center center;*/
  text-align: center;
  color: #7B6C75;
  margin-top: 25px;
  padding-top: 25px;
}

.footer a {
  color: black;
}

img.social {
  width: 50px;
}

/* ensure that floats do not leak into these elements */
h1, h2, h3, .footer {
  clear: both;
}
