{% assign filter = include.filter %}
{% assign files = site.static_files | where_exp: "item", "item.path contains filter" %}
<section class="gallery" style="grid-template-columns: 1fr repeat({{files | size}}, auto) 1fr">
{% for file in files %}
  <input type="radio" name="gallery" id="{{ filter }}{{ forloop.index }}" {% if forloop.first %} checked {% endif %}/>
  <label for="{{ filter }}{{ forloop.index | minus: 1 }}" class="prev" {% if forloop.first %}style="opacity:0;"{% endif %}>⬅️</label>
  <img src="{{ file.path }}" loading="lazy">
  <label for="{{ filter }}{{ forloop.index |  plus: 1 }}" class="next" {% if forloop.last  %}style="opacity:0;"{% endif %}>➡️</label>
{% endfor %}
</section>
