<!DOCTYPE html>
<html lang=de>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}{% unless page.url == "/" %} — Kammerchor Innsbruck{% endunless %}</title>
    <meta name="description" content="{{ page.description }}">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/png" href="/assets/icon.svg">
  </head>

  <body>
    <nav>
      {% for item in site.data.navigation %}
      <a href="{{ item.link }}"{% if page.url == item.link %} class="active"{% endif %}>{{ item.name }}</a>
      {% endfor %}
    </nav>

    <!--
    <img src="/assets/header.svg">
    -->
    <div class="header">
      <h1>{{ page.title }}</h1>
      <!--
      <div class="border"></div>
      <div class="border-small"></div>
      -->
    </div>

    <div class="content">
    {{ content }}
    </div>

    <div class="footer">
      <a href="/" aria-label="Startseite"><img src="/assets/logo.svg" class="logo" alt="Kammerchor Innsbruck"></a>
      <!--
      <div class="border"></div>
      -->
      <p>✉️: <a href="mailto:info@kammerchorinnsbruck.at">info@kammerchorinnsbruck.at</a></p>
      <a href="https://www.facebook.com/kammerchorinnsbruck" aria-label="Facebook"><img src="/assets/facebook.svg" class="social" alt="Facebook"></a>
      <a href="https://www.instagram.com/kammerchorinnsbruck/" aria-label="Instagram"><img src="/assets/instagram.svg" class="social" alt="Instagram"></a>
      <a href="https://www.youtube.com/@kammerchorinnsbruck8167" aria-label="YouTube"><img src="/assets/youtube.svg" class="social" alt="YouTube"></a>
      <p><a href="/impressum">Impressum</a></p>
      <div class="sponsors">
        <a href="https://porr.at" alt="Porr"><img src="/assets/sponsoren/porr.svg"></a>
        <a href="https://th-patent.at" alt="Torggler & Hofmann Patentanwälte"><img src="/assets/sponsoren/thp.svg"></a>
        <a href="https://www.altinst.at" alt="Alternativ Installationen Garber GmbH"><img src="/assets/sponsoren/alternativ-installationen.svg" style="max-width:150px;"></a>
      </div>
    </div>
  </body>
</html>
